<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/static/pico.min.css">
    </head>
    <body>
        <main class="container">
            <h1>{{ title }}</h1>
            {% if instructions != "" %}
            <p>{{ instructions }}</p>
            {% endif %}
            <form action="/" method="post">
                <div>
                    <label for name="yturl">
                        Introduce la url del vídeo
                        <input type="url" id="yturl" name="yturl" placeholder="Aquí va la url" required>
                    </label>
                    <p><input type="submit" value="Descargar"></p>
                </div>
            </form>
        </main>
    </body>
</html>
